<%- include('../partials/user/header.ejs') %>

<main class="container my-4">
  <% if (orders && orders.length > 0) { %> <% orders.forEach(order => { %>
  <div class="card row rounded-3 p-3 mb-4 shadow">
    <div class="col-md-12 d-flex justify-content-between">
      <span>Order ID : <%=order.orderId%></span>
      <span class="badge bg-primary"><%=order.status%></span>
    </div>
    <div
      style="background-color: rgb(193, 193, 193)"
      class="col-md-12 px-3 py-1 rounded-2 my-2"
    >
    <!-- product based start -->
      <%order.products.forEach((product,index)=>{%>
      <div class="row p-1 rounded-3 <%=product.status === 'cancelled'?'text-secondary':''%>">
        <!-- Product Image -->
        <div class="col-md-2 text-center p-1 align-items-center d-flex justify-content-center">
          <img
            src="<%=product?.image%>"
            alt="Product Image"
            class="img-fluid rounded"
            style="max-height: 70px"
          />
        </div>

        <!-- Product Info -->
        <div class="col-md-4 p-3">
          <h5 class="fw-semibold mb-1"><%=product?.productName%></h5>
          <p class=" <%=product.status === 'cancelled'?'text-secondary':'text-muted'%> mb-1 fw-semibold">
            Volume: <%=product?.volume%>ML
          </p>
          <p class=" <%=product.status === 'cancelled'?'text-secondary':'text-muted'%> mb-1 fw-semibold">Qty: <%=product.quantity%></p>
          <p class=" <%=product.status === 'cancelled'?'text-secondary':'text-muted'%> mb-1 fw-bold">Total : <%=product.subtotal%></p>
        </div>

        <!-- Status -->
        <div
          class="col-md-3 justify-content-center align-items-start d-flex flex-column"
        >
          <p class="small mb-0">
            <strong>Ordered On :</strong>
            <%= order.createdAt.toLocaleString('en-IN', {dateStyle: 'medium',
            }) %>
          </p>
          <p class="small mb-0">
            <strong>Expected :</strong>
            <%= new Date(order.createdAt.getTime() + 1000 * 60 * 60 * 24 * 3)
            .toLocaleString('en-IN', { dateStyle: 'medium' }) %>
          </p>

          <p class="small mb-0">
            <strong>Status : </strong
            ><span class=" <%=product.status === 'cancelled'?'text-secondary':'text-success'%> fw-bold fs-6"
              ><%=product.status.charAt(0).toUpperCase()+product.status.slice(1)%></span
            >
          </p>
        </div>

        <!-- Actions + Dates -->
        <div
          class="col-md-3 p-3 text-center justify-content-center align-items-end d-flex flex-column gap-2"
        >
      <%if(!["delivered", "cancelled", "returned"].includes(product.status)){%>
          <button class="btn btn-danger" onclick="cancelOrderProduct('<%=order._id%>','<%=index%>')">
            Cancel
          </button>      
        <%}%>
        <%if(product.status === 'delivered'){%>
          <button class="btn btn-secondary" id="returnProduct" onclick="returnOrderProduct('<%=order._id%>','<%=index%>')">
            <%=product.isRequested?"Requested":'Return'%>
          </button>      
        <%}%>
          <button class="btn btn-dark">Details</button>
        </div>
      </div>
      <hr class="p-0 m-0"/>
      <!-- product based end -->
      <%})%>
    </div>

    <div class="col-md-12 d-flex justify-content-between align-items-center">

      <%if(!["delivered", "cancelled", "returned"].includes(order.status)){%>
          <button class="btn btn-outline-dark fw-semibold" onclick="cancelOrder('<%=order._id%>')">
            Cancel order
          </button>      
        <%}%>
        <%if(order.status === 'delivered'){%>
          <button <%=order.isRequested?"disabled":''%> class="btn btn-outline-dark fw-semibold" onclick="returnOrder('<%=order._id%>')">
            <%=order.isRequested?"Return Requested":'Return order'%>
          </button>      
        <%}%>
      <span class="fw-bold ">Total: <%=order.totalAmount%></span>
    </div>
  </div>
  <% }) %> <% } else { %>
  <div class="text-center py-5">
    <img
      src="/images"
      alt="No Orders"
      class="img-fluid mb-3"
      style="max-width: 200px"
    />
    <h5 class="text-muted">You have no orders yet.</h5>
    <a href="/shop" class="btn btn-primary mt-2">Shop Now</a>
  </div>
  <% } %>
</main>
<script>
  async function cancelOrderProduct(id,index){
    try {
      const res=await fetch(`/orders/product/cancel/${id}?index=${index}`,{
        method:'PATCH'
      })
      const data= await res.json()
      if(data.status){
        location.reload()
      }
    } catch (error) {
      console.log(error)
      alert('unable to cancel')
    }
  }
  async function returnOrderProduct(id,index){
    try {
      const res=await fetch(`/orders/product/return/${id}?index=${index}`,{
        method:'PATCH'
      })
      const data= await res.json()
      if(data.status){
        location.reload()
      }
    } catch (error) {
      console.log(error)
      alert('unable to cancel')
    }
  }
  async function cancelOrder(id) {
     try {
      const res=await fetch(`/orders/cancel/${id}`,{
        method:'PATCH'
      })
      const data= await res.json()
      if(data.status){
        location.reload()
      }
    } catch (error) {
      console.log(error)
      alert('unable to cancel')
    }
  }
  async function returnOrder(id) {
     try {
      const res=await fetch(`/orders/return/${id}`,{
        method:'PATCH'
      })
      const data= await res.json()
      if(data.status){
        location.reload()
      }
    } catch (error) {
      console.log(error)
      alert('unable to return')
    }
  }
</script>
<%- include('../partials/user/footer.ejs') %>
