<%- include('../partials/user/header.ejs') %>

<main class="container my-4">
  <% if (orders && orders.length > 0) { %> <% orders.forEach(order => { %>
  <div class="card row rounded-3 p-3 mb-2 shadow">
    <div class="col-md-12 d-flex justify-content-between">
      <span>Order ID : <%=order.orderId%></span>
      <span class="badge bg-primary"><%=order.status%></span>
    </div>
    <div
      style="background-color: rgb(193, 193, 193)"
      class="col-md-12 px-3 py-2 rounded-2 my-2"
    >
    <%order.products.forEach(product=>{%>
      <div
        class="row p-2 rounded-3"
      >
        <!-- Product Image -->
        <div class="col-md-2 text-center p-2">
          <img
            src="<%=product?.image%>"
            alt="Product Image"
            class="img-fluid rounded"
            style="max-height: 100px"
          />
        </div>

        <!-- Product Info -->
        <div class="col-md-4 p-3">
          <h5 class="fw-semibold mb-1"><%=product?.productName%></h5>
          <p class="text-muted mb-1 fw-semibold">Volume: <%=product?.volume%>ML</p>
          <p class="text-muted mb-1 fw-semibold">Qty: <%=product.quantity%></p>
          <p class="text-muted mb-1 fw-bold">Total : <%=product.subtotal%></p>
        </div>
        
        <!-- Status -->
        <div class="col-md-3 justify-content-center align-items-start d-flex flex-column">
          <p class="small mb-0"><strong>Ordered On :</strong> 01 Sep 2025</p>
          <p class="small mb-0"><strong>Expected :</strong> 05 Sep 2025</p>
          <p class="small mb-0"><strong>Status : </strong><span class="text-success fw-bold fs-6"><%=product.status.charAt(0).toUpperCase()+product.status.slice(1)%></span></p>
          
        </div>
        
        <!-- Actions + Dates -->
        <div class="col-md-3 p-3 text-center justify-content-center align-items-end d-flex flex-column gap-2">
          <button class="btn btn-danger">
            Return
          </button>
          <button class="btn btn-dark">Details</button>
        </div>
      </div>
      <hr>
      <%})%>
    </div>

    <div class="col-md-12 d-flex justify-content-between">
      <button onclick="cancelOrder()" class="btn btn-outline-dark fw-semibold">
        Cancel order
      </button>
      <span class="fw-bold">Total: <%=order.totalAmount%></span>
    </div>
  </div>
  <% }) %> <% } else { %>
  <div class="text-center py-5">
    <img
      src="/images"
      alt="No Orders"
      class="img-fluid mb-3"
      style="max-width: 200px"
    />
    <h5 class="text-muted">You have no orders yet.</h5>
    <a href="/shop" class="btn btn-primary mt-2">Shop Now</a>
  </div>
  <% } %>
</main>

<%- include('../partials/user/footer.ejs') %>
