<%- include('../partials/user/header.ejs') %>
<style>
  @media (max-width: 767.98px) {
    /* Make all text smaller on mobile */
    .card,
    .card * {
      font-size: 0.8rem !important; /* ~12px */
    }
  }
</style>

<main class="container my-4 min-vh-100">
  <% if (orders && orders.length > 0) { %> <% orders.forEach(order => { %>
  <div class="card rounded-3 px-3 px-md-4 py-3 mb-4 shadow">
    <!-- Order Header -->
    <div class="d-flex justify-content-between align-items-center mb-2 mb-md-3">
      <span class="fw-semibold">Order ID : <%=order.orderId%></span>
      <span class="alert alert-primary py-0 px-2 text-primary m-0"
        ><%=order.status.charAt(0).toUpperCase() + order.status.slice(1)%></span
      >
    </div>

    <!-- Products Section -->
    <div class="row">
      <div
        class="col-12 col-md-9 px-2 px-md-3 py-2 rounded-2"
        style="background-color: rgb(230, 230, 230)"
      >
        <% order.products.forEach((product,index)=>{ %>
        <div
          class="row py-2 border-bottom <%=product.status === 'cancelled'?'text-secondary':''%>"
        >
          <!-- Product Image -->
          <a
            href="/products/<%=product.productId._id%>"
            class="col-3 col-md-2 d-flex align-items-center justify-content-center mb-2 mb-md-0"
          >
            <img
              src="<%=product?.image%>"
              alt="Product Image"
              class="img-fluid rounded"
              style="max-height: 90%; max-width: 100%"
            />
          </a>

          <!-- Product Info -->
          <div class="col-9 col-md-4">
            <h6 class="fw-semibold mb-1 fs-6 fs-md-5">
              <%=product?.productName%>(<%=product?.volume%> ML)
            </h6>
            <p class="fw-normal m-0 fs-7 fs-md-6">
              Price : ₹<%=product.finalAmount%>
            </p>
            <p
              class="mb-0 <%=product.status === 'cancelled'?'text-muted':'text-black'%> fs-7 fs-md-6"
            >
              Qty: <%=product.quantity%>
            </p>
            <p class="fw-bold mb-0 fs-7 fs-md-6">
              Total : ₹<%=product.subtotal%>
            </p>
          </div>

          <!-- Status -->
          <div class="col-9 col-md-3">
            <p class="small mb-1">
              <strong>Ordered On :</strong> <%=order.createdAt.toLocaleString('en-IN', { dateStyle: 'medium' })%>
            </p>
            <p class="small mb-1">
              <strong>Expected :</strong> <%= new Date(order.createdAt.getTime()+ 1000*60*60*24*3).toLocaleString('en-IN', { dateStyle: 'medium'}) %>
            </p>
            <p class="small mb-0">
              <strong>Status : </strong>
              <span
                class="<%=product.status === 'cancelled'?'text-secondary':'text-success'%> fw-bold"
              >
                <%=product.status.charAt(0).toUpperCase()+product.status.slice(1)%>
              </span>
            </p>
            <p class="small mb-1">
              <strong>Payment Method :</strong> <%=order.payment.method%>
            </p>
          </div>

          <!-- Actions -->
          <div
            class="col-3 col-md-3 d-flex gap-2 justify-content-end align-items-center"
          >
            <% if(!["pending","shipped","Out ofdelivery","delivered","cancelled","returned"].includes(product.status)){ %>
            <button
              class="btn btn-danger fs-7 fs-md-6"
              onclick="showConfirmModal('<%=order._id%>','cancelProduct','<%=index%>')"
            >
              Cancel
            </button>
            <% } %> 
            <% if(product.status ==='delivered'&&product.return?.returnTimeLimit>Date.now()) { %>
            <button
              class="btn btn-secondary fs-7 fs-md-6"
              onclick="showConfirmModal('<%= order._id %>','returnProduct','<%= index %>')"
            >
              <%= product.return?.isRequested ? "Requested" : "Return" %>
            </button>
            <% } %>

            <a
              href="/orders/details/<%=order._id%>?index=<%=index%>"
              class="btn btn-dark fs-7 fs-md-6"
              >Details</a
            >
          </div>

          <div class="col-12 <%=!product.return?.adminReason?'d-none':''%>">
            <span class="text-danger fw-normal small fw-semibold"
              >Return Rejected Reason :
              <span><%=product.return.adminReason%></span></span
            >
          </div>
        </div>
        <% }) %>
      </div>

      <!-- Price Details -->
      <div
        class="col-12 col-md-3 d-flex justify-content-center mt-2 mt-md-0 p-0 ps-md-2"
      >
        <div class="row rounded-3 gap-2 w-100">
          <div
            class="p-3 rounded-3 col-12"
            style="background-color: rgb(230, 230, 230)"
          >
            <h6 class="fw-bold mb-3 fs-6 fs-md-5">Price Details</h6>
            <div class="d-flex justify-content-between mb-2 fs-7 fs-md-6">
              <span>Items (<%=order.products.length%>)</span>
              <span>₹<%=order.totalOrderPrice%></span>
            </div>
            <div
              class="d-flex justify-content-between mb-2 fs-7 fs-md-6 <%=order.products.some(o=>o.status=='cancelled'||o.status === 'returned')?'':'d-none'%>"
            >
              <span>Refunded Amount</span>
              <span class="text-dark">₹<%=order.refundAmount%></span>
            </div>
            <div
              class="d-flex justify-content-between mb-2 fs-7 fs-md-6 <%=order.couponApplied?'':'d-none'%>"
            >
              <span>Discount</span>
              <span class="text-success"
                ><%=order.couponDiscount?order.couponDiscount+'%':order.couponDiscount == 0?'-':'No Discounts'%></span
              >
            </div>
            <div
              class="d-flex justify-content-between mb-2 fs-7 fs-md-6 <%=order.couponApplied?'':'d-none'%>"
            >
              <span>Discount Amount</span>
             <%const remainingProducts = order.products.filter((p, i) =>!["cancelled", "returned"].includes(p.status));
                const remainingDiscount = remainingProducts.reduce(
                  (sum, p) => sum + p.subtotal * (order.couponDiscount || 0) / 100,
                  0
                );
              %>
              <span class="text-danger">-₹<%= remainingDiscount?remainingDiscount.toFixed(2):order.couponAmount %></span>

            </div>
            <div class="d-flex justify-content-between mb-2 fs-7 fs-md-6">
              <span>Delivery Charge</span>
              <span class="text-success">₹<%=order.deliveryCharge%></span>
            </div>
            <div
              class="d-flex justify-content-between border-top pt-2 fw-bold fs-6 fs-md-5"
            >
              <span>Total Amount</span>
              <span>₹<%=order.finalAmount%></span>
            </div>
          </div>

          <div
            class="alert alert-dark p-2 rounded-3 col-12 fs-7 fs-md-6 <%=!order.return?.adminReason?'d-none':''%>"
          >
            <p class="text-dark m-0 p-0 fw-bold text-start">
              Return request rejected
            </p>
            <span class="text-dark fw-semibold text-start"
              >Reason : <span><%=order.return.adminReason%></span></span
            >
          </div>
        </div>
      </div>
    </div>
    
    <!-- Order-level actions -->
    <div
    class="d-flex justify-content-between align-items-center mt-md-3 mt-2 gap-2"
    style="max-height: fit-content !important"
    >
    <%if(order.status=='pending'){%>
      <div>
        <button class="btn btn-sm btn-dark" onclick="RetryPayment('<%=order._id%>')">Retry Payment</button>
        <button class="btn btn-sm btn-outline-dark" onclick="showConfirmModal('<%=order._id%>','cancelOrderNoRefund')">Order Cancel</button>
      </div>
        <%}%>
        <% if(!["pending","delivered","cancelled","returned"].includes(order.status)) { %>
      <button
        class="btn btn-outline-dark btn-sm fw-semibold"
        onclick="showConfirmModal('<%=order._id%>','cancelOrder')">
        Cancel Order
      </button>
      <% } %> 
      <%if(order.status=='delivered'){%>
      <button
        class="btn btn-sm btn-secondary"

        onclick="showConfirmModal('<%= order._id %>','returnOrder')"
      >
        <%= order.return?.isRequested ? "Return Requested" :
        order.return?.adminReason ? "Return Rejected" : "Return Order" %>
      </button>
      <%}%>
      

      <div class="text-start">
        <a
          href="/orders/<%=order._id%>/invoice"
          class="btn btn-outline-primary btn-sm fw-bold"
          >Invoice</a
        >
      </div>
    </div>

    <div class="mt-2 fs-8">
      <span class="text-danger small fw-semibold"
        >* If you return/cancel any product and used a coupon, the coupon amount
        will be reduced from your refund.</span
      >
    </div>
  </div>
  <% }) %> <% } else { %>
  <div class="text-center py-5">
    <h5 class="text-muted">You have no orders yet.</h5>
    <a href="/shop" class="btn btn-dark mt-2">Shop Now</a>
  </div>
  <% } %>

  <!-- Return Modal -->
  <div
    class="modal fade"
    id="returnModal"
    tabindex="-1"
    aria-labelledby="returnModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="returnForm">
          <div class="modal-header">
            <h5 class="modal-title fs-6 fs-md-5" id="returnModalLabel">
              Return Order
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label for="returnReason" class="form-label fs-7 fs-md-6"
                >Reason for return</label
              >
              <textarea
                id="returnReason"
                class="form-control w-100 fs-7 fs-md-6"
                rows="3"
                placeholder="Enter your reason"
              ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary fs-7 fs-md-6">
              Submit
            </button>
            <button
              type="button"
              class="btn btn-secondary fs-7 fs-md-6"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- //confirm modal -->
  <div
    class="modal fade"
    id="confirmModal"
    tabindex="-1"
    aria-labelledby="confirmLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-dark">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="confirmLabel">Are you sure?</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p id="confirmMessage">
            Be carefull while return or cancel after use a cupon
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-outline-dark">
            No
          </button>
          <button
          type="button"
          class="btn btn-dark"
          id="yes"
          data-orderId = ""
          data-operation = ""
          data-index = ""
          >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-success">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="successLabel">Payment Success</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="successMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" onclick="window.location.reload()">OK</button>
      </div>
    </div>
  </div>
</div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center justify-content-md-end mt-3">
      <nav aria-label="Page navigation">
        <ul class="pagination flex-wrap p-2">
          <!-- Previous -->
          <% if (page > 1) { %>
            <li class="page-item">
              <a class="page-link bg-dark" href="?page=<%= page - 1 %>&limit=<%= limit %>">
                <i class="fa-solid fa-caret-left text-white"></i>
              </a>
            </li>
          <% } else { %>
            <li class="page-item disabled">
              <span class="page-link bg-dark"><i class="fa-solid fa-caret-left text-white"></i></span>
            </li>
          <% } %>

          <!-- Left Page -->
          <% if (page - 1>= 1) { %>
            <li class="page-item"><a class="page-link" href="?page=<%= page - 1 %>&limit=<%= limit %>"><%= page - 1 %></a></li>
          <% } %>

          <!-- Current Page -->
          <li class="page-item active">
            <span class="page-link bg-white text-dark border-0"><%= page %></span>
          </li>

          <!-- Right Page -->
          <% if (page + 1 <=totalPages) { %>
            <li class="page-item"><a class="page-link" href="?page=<%= page + 1 %>&limit=<%= limit %>"><%= page + 1 %></a></li>
          <% } %>

          <!-- Next -->
          <% if (page < totalPages) { %>
            <li class="page-item">
              <a class="page-link bg-dark" href="?page=<%= page + 1 %>&limit=<%= limit %>">
                <i class="fa-solid fa-caret-right text-white"></i>
              </a>
            </li>
          <% } else { %>
            <li class="page-item disabled">
              <span class="page-link bg-dark"><i class="fa-solid fa-caret-right text-white"></i></span>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>


</main>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  let currentReturnId = null;
  let currentReturnIndex = null;
  
  function showConfirmModal(orderId,operation,index=null){
    const modalEl = document.getElementById("confirmModal");
    const messageEl = document.getElementById("confirmMessage");
    const yesBtn = document.getElementById('yes');
    if(index&&operation=='cancelProduct'){
      messageEl.textContent = 'Are you sure you want to Cancel this Product';
    }
    if(!index&&operation=='cancelOrder'){
      messageEl.textContent = 'Are you sure you want to Cancel this Order';
    }
    if(operation=='cancelOrderNoRefund'){
      messageEl.textContent = 'Since you havn\'t paid the Amount, you will not get Refund, Thank You...';
      operation='cancelOrder'
    }
    if(index&&operation=='returnProduct'){
      messageEl.textContent = 'Are you sure you want to Return this Product';
    }
    if(!index&&operation=='returnOrder'){
      messageEl.textContent = 'Are you sure you want to Return this Order';
    }
    yesBtn.setAttribute('data-orderId', orderId); 
    yesBtn.setAttribute('data-operation', operation); 
    yesBtn.setAttribute('data-index', index); 
    
    const modal = new bootstrap.Modal(modalEl);
    modal.show();
  }
  
  
  function showSuccessModal(message){
    const modalEl = document.getElementById("successModal");
    const messageEl = document.getElementById("successMessage");
    messageEl.textContent = message;
    const modal = new bootstrap.Modal(modalEl);
    modal.show();
  }

  document.getElementById('yes').addEventListener('click',(e)=>{
    const operation = document.getElementById('yes').getAttribute('data-operation')
    const orderId = document.getElementById('yes').getAttribute('data-orderId')
    const index = document.getElementById('yes').getAttribute('data-index')
     if(operation=='cancelProduct'){
      cancelProduct(orderId,index)
    }
    if(operation=='cancelOrder'){
      cancelOrder(orderId)
    }
    if(operation=='returnProduct'){
      openReturnModal(orderId,index)
      const modalEl = document.getElementById('confirmModal');
      const modal = bootstrap.Modal.getInstance(modalEl) || new bootstrap.Modal(modalEl);
      modal.hide();
    }
    if(operation=='returnOrder'){
      openReturnModal(orderId)
      const modalEl = document.getElementById('confirmModal');
      const modal = bootstrap.Modal.getInstance(modalEl) || new bootstrap.Modal(modalEl);
      modal.hide();
    }
  })


  function openReturnModal(id, index = null) {

    currentReturnId = id;
    currentReturnIndex = index;

    const reasonInput = document.getElementById("returnReason");
    if (reasonInput) reasonInput.value = "";

    const modalEl = document.getElementById("returnModal");
    if (modalEl) new bootstrap.Modal(modalEl).show();
  }

  document
    .getElementById("returnForm")
    .addEventListener("submit", async (e) => {
      e.preventDefault();
      const reason = document.getElementById("returnReason").value.trim();
      if (!reason) {
        showAlert('error',"Please provide a return reason.");
        return;
      }

      let url =
        currentReturnIndex !== null
          ? `/orders/product/return/${currentReturnId}?index=${currentReturnIndex}`
          : `/orders/return/${currentReturnId}`;

      try {
        const res = await fetch(url, {
          method: "PATCH",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ reason }),
        });
        const data = await res.json();
        if (data.status) location.reload();
        else showAlert('error',data.message || "Return request failed");
      } catch (err) {
        console.error(err);
        showAlert('error',"Unable to return");
      }
    });

  async function cancelProduct(id, index) {
    try {
      document.getElementById('yes').disable = true
      document.getElementById('yes').textContent = 'Cancelling'
      const modalEl = document.getElementById("confirmModal");
      const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
      modal.hide();
      const res = await fetch(`/orders/product/cancel/${id}?index=${index}`, {
        method: "PATCH",
      });
      const data = await res.json();
      if (data.status){
        window.location.reload()
        showAlert('success',"Product cancelled");
      } 
    } catch (err) {
      console.error(err);
      showAlert('error',"Unable to cancel product");
    }finally{
      document.getElementById('yes').disable = false
      document.getElementById('yes').textContent = 'Yes'

    }
  }

  async function cancelOrder(id) {
    try {
      const res = await fetch(`/orders/cancel/${id}`, { method: "PATCH" });
      const data = await res.json();
      if (data.status) location.reload();
    } catch (err) {
      console.error(err);
      showAlert('error',"Unable to cancel order");
    }
  }

 async function RetryPayment(orderId){

    const response = await fetch("/orders/api/retryPayment", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({orderId}),
    });
    
    const data = await response.json();
    
    if (!data.status) return showAlert('error',`Payment Failed :- ${data.message}`);
    const options = {
        key: "<%= process.env.RAZORPAY_KEY_ID %>", // Razorpay key
        amount: data.finalAmount * 100, // paise
        currency: "INR",
        name: "VENICARA",
        order_id: data.razorpayOrderId,
        prefill: {
          name: "<%= user.name %>",
          email: "<%= user.email %>",
          contact: "<%= user.mobile %>",
        },
        theme: { color: "#3399cc" },
        handler: async function (response) {
          try {
            console.log('ntered')
            const res = await fetch("/orders/api/retryPaymentSuccess", {
              method: "PATCH",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                orderId: data.orderId,
                razorpay_payment_id: response.razorpay_payment_id,
                razorpay_order_id: response.razorpay_order_id,
                razorpay_signature: response.razorpay_signature,
              }),
            });

            const result = await res.json();
            if (result.status) {
              showSuccessModal(result.message)
            } else {
            showAlert('error',"Payment Failed - "+result.message);
            return
            }
          } catch (err) {
            showAlert('error',"Payment Failed - Due to Internal Error");
            return;
          }
        },
        modal: { escape: true, ondismiss: async() => {
          try{
            showAlert('error','Payment Failed due to Unexpected Action in Razorpay, Try again...') 
          }catch(error){
            console.log('razorpay ondismiss'+error)
          }
        }
        }
      };

      const rzp = new Razorpay(options);
      rzp.open();
      return; // Stop further redirect
    }
  

</script>

<%- include('../partials/user/footer.ejs') %>
