<%-include('../partials/user/header.ejs')%>
<%-include('../partials/user/sidebarProfile.ejs')%>
<main class="flex-grow-1 bg-light w-100 justify-content-center d-flex">

  <div style="width:50rem" class="mt-5 rounded-4 shadow h-auto px-5 pt-5">
  <div>
    <p class="fs-3 fw-bold text-black text-center">Profile</p>
  </div>
  <form action="/profile/edit" method="post" enctype="multipart/form-data">
    <div class="row">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <div class="bg-secondary rounded-circle overflow-hidden" style="width:6rem;height:6rem">
        <input name="userProfile" id="userProfile" type="file" hidden >
        <div class="rounded-circle bg-dark mt-3" style="width:40%;height:40%;margin-left:1.8rem"></div>
        <div class="rounded-circle bg-dark mt-1" style="width:80%;height:80%;margin-left:.6rem"></div>
      </div>
    </div>
    <div class="col-md-6 mx-auto mt-5">
  <div class="mb-3">
    <label for="name" class="fw-bold">Name:</label>
    <input type="text" id="name" name="name" class="form-control rounded-3" value="<%=user.name%>">
  </div>
  <div class="mb-3">
    <label for="email" class="fw-bold">Email:</label>
    <input type="email" id="email" name="email" class="form-control rounded-3" value="<%=user.email%>">
  </div>
  <div class="mb-3">
    <label for="phone" class="fw-bold">Phone:</label>
    <input type="text" id="phone" name="phone" class="form-control rounded-3" value="<%=user.mobile?user.mobile:''%>" placeholder="Enter your Mobile number">
  </div>

  <!-- Gender -->
  <div class="mb-3">
    <label class="fw-bold d-block">Gender:</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="female" value="female" <%=user.gender&&user.gender === 'female'?'checked':''%> >
      <label class="form-check-label" for="female">Female</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="male" value="male" <%=user.gender&&user.gender === 'male'?'checked':''%> >
      <label class="form-check-label" for="male">Male</label>
    </div>
  </div>
</div>
<div class="col-md-12 d-flex justify-content-between px-5 pb-5">
  <a href="/profile/changePassword" class="text-primary text-decoration-none">Change password</a>
  <button class="btn btn-dark px-4">Save changes</button>
</div>
  </div>
</form>
</div>
</main>
</div>