<%-include('../partials/user/header.ejs')%>
  <%-include('../partials/user/sidebarProfile.ejs')%>
    <main class="w-100 justify-content-center d-flex">

      <div style="background:rgb(241, 241, 241)" class="rounded-5 h-75 shadow px-5 pt-5">
        <div>
          <p class="fs-3 fw-bold text-black text-center">Profile</p>
        </div>
          <div class="row">
            <div class="col-md-12 w-100 d-flex justify-content-center">
              <div class="position-relative d-inline-block">
                <!-- Circle -->
                <div class="bg-secondary rounded-circle overflow-hidden"
                  style="width:6rem;height:6rem;cursor:pointer;">
                  <% if (user.photoUrl) { %>
                    <img src="<%= user.photoUrl %>" alt="Profile" loading="lazy" class="w-100 h-100 rounded-circle"
                      style="object-fit:cover;">
                    <% } else { %>
                      <!-- Show placeholder icon -->
                      <div class="rounded-circle bg-dark mt-3" style="width:40%;height:40%;margin-left:1.8rem"></div>
                      <div class="rounded-circle bg-dark mt-1" style="width:80%;height:80%;margin-left:.6rem"></div>
                      <% } %>
                </div>
              </div>
            </div>

            <div class="col-md-8 mx-auto mt-5">
             <div class="mb-3 row">
                <div class="fw-bold col-3 d-flex align-items-center">Name:</div>
                <div class="rounded-2 px-3 py-2 col-8 fw-semibold" style="background:rgb(161, 175, 180)"><%=user.name%></div>
                </div>
              <div class="mb-3 row">
                <span class="fw-bold col-3 d-flex align-items-center">Email:</span>
                <span class="rounded-2 px-3 py-2 col-8 fw-semibold" style="background:rgb(161, 175, 180)"><%=user.email%></span>
                </div>
              <div class="mb-3 row">
                <span class="fw-bold col-3 d-flex align-items-center">Phone:</span>
                <span class="rounded-2 px-3 py-2 col-8 fw-semibold" style="background:rgb(161, 175, 180)"><%=user.mobile||'Mobile no. is not updated'%></span>
                </div>

              <!-- Gender -->
              <div class="mb-3 row">
                <span class="fw-bold col-3 d-flex align-items-center">Gender :</span>
                <span class="rounded-2 px-3 py-2 col-8 fw-semibold" style="background:rgb(161, 175, 180)"><%=user.gender||'Gender is not specified'%></span>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center px-5 pb-5">
              <a href="/profile/edit" class="btn btn-dark px-4">Edit</a>
            </div>
          </div>
      </div>
    </main>
    </div>
    <script src="/js/userHeader.js"></script>
    </body>
    </html>