<div class="d-flex">
  <!-- Sidebar -->
  <nav id="sidebar" class="p-2">
    <ul
      id="list"
      class="nav d-flex flex-column mt-1 pb-1 pt-1 pe-1 rounded-3 w-100"
      style="background: rgb(223, 223, 223)"
    >
      <li id="liBtn" class="d-flex justify-content-end">
        <button id="arrow" class="btn">
          <i class="fa-solid fa-angles-left"></i>
        </button>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='dashboard'?'active':''%>"
          href="/admin/dashboard"
        >
          <i class="fa-solid fa-chart-line d-inline"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='orders'?'active':''%>"
          href="/admin/orders"
        >
          <i class="fa-solid fa-bag-shopping"></i>
          <span>Orders</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='products'?'active':''%>"
          href="/admin/products?page=1"
        >
          <i class="fa-solid fa-boxes-stacked"></i>
          <span>Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='salesReport'?'active':''%>"
          href="/admin/salesReport"
        >
          <i class="fa-solid fa-newspaper"></i>
          <span>Sales Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page === 'customers'?'active':''%>"
          href="/admin/customers"
        >
          <i class="fa-solid fa-people-group"></i>
          <span>Customers</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='coupons'?'active':''%>"
          href="/admin/coupons"
        >
          <i class="fa-solid fa-ticket"></i>
          <span>Coupens</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='categories'?'active':''%>"
          href="/admin/categories"
        >
          <i class="fa-solid fa-layer-group"></i>
          <span>Categories</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='returnRefund'?'active':''%>"
          href="/admin/returnRefund"
        >
          <i class="fa-solid fa-arrow-rotate-left"></i>
          <span>Refund/Return</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='banners'?'active':''%>"
          href="/admin/banners"
        >
          <i class="fa-solid fa-rectangle-list"></i>
          <span>Banners</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 <%=page==='referrals'?'active':''%>"
          href="/admin/referrals"
        >
          <i class="fa-solid fa-users-line"></i>
          <span>Referrals</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-danger text-white rounded-4 d-flex align-items-center gap-2 p-3 w-100 logout"
          href="/admin/logout"
        >
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span>Sign Out</span>
        </a>
      </li>
    </ul>
  </nav>
